<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header" th:fragment="header" >
    <div class="container container--narrow">
        <a href="/" class="header__logo">
            <img th:src="@{/images/2.png}" alt="로고" />
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem" ><a href="index.html">가게정보</a></li>
                <li class="header__menuItem" ><a th:href="@{/menus}">메뉴정보</a></li>
                <li class="header__menuItem" th:if="${session.user != null}"><a href="inbox.html">메세지</a></li>
                <li class="header__menuItem" th:if="${session.user != null && session.user.isAdmin}"><a th:href="@{/seller/account}">내 정보</a></li>
                <li class="header__menuItem" th:if="${session.user != null && !session.user.isAdmin}"><a th:href="@{/student/profile}">내 정보</a></li>
                <li class="header__menuItem" th:if="${session.user == null}"><a th:href="@{/login}" class="btn btn--sub">Login/Sign Up</a></li>
                <form method="post" th:action="@{/logout}"><li class="header__menuItem" th:if="${session.user != null}"><button type="submit" class="btn btn--sub">Logout</button></li></form>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>