<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" th:href="@{/uikit/styles/uikit.css}" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" th:href="@{/styles/app.css}" />

  <title>Menus</title>
</head>

<body>
  <!-- Header Section -->
  <div th:replace="main/nav :: header"></div>

  <!-- Main Section -->
  <main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>음식을 <span>검색하세요</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="#" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Projects </label>
              <input class="input input--text" id="formInput#search" type="text" name="text"
                placeholder="Search by Project Title" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
          <div class="column" th:each="m : ${menus}">
            <div class="card project">
              <a th:href="@{/menus/{id}(id=${m.id})}" class="project">
                <img class="project__thumbnail" th:if="${m.image}" th:src="|/image/${m.image}|" />
                <img class="project__thumbnail" th:unless="${m.image}" th:src="@{/images/default_food.png}" />
                <div class="card__body">
                  <h3 class="project__title" th:text="${m.name}">메뉴이름</h3>
                  <p><a class="project__author" href="profile.html" th:text="${m.seller}">가게이름</a></p>
                  <p class="project--rating">
                    <span style="font-weight: bold;">98%</span> Postitive
                    Feedback (72 Votes)
                  </p>
                  <div class="project__tags">
                    <span class="tag tag--pill tag--main">
                      <small>NextJS</small>
                    </span>
                    <span class="tag tag--pill tag--main">
                      <small>GraphQL</small>
                    </span>
                    <span class="tag tag--pill tag--main">
                      <small>TypeScript</small>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>



        </div>
      </div>
    </section>

    <div class="pagination">
      <ul class="container"
          th:with="start = ${paging.start}, last=${paging.last}">

        <li th:style="${menus.first} ? 'display:none'">
          <a th:href="${menus.first} ? '#' : @{/menus/(page=${paging.number})}" class="btn">&#10094; Prev</a>
        </li>
        <li th:each="p : ${#numbers.sequence(start,last)}">
          <a th:href="@{/menus/(page=${p})}" th:text="${p}"
             th:if="${p==paging.number+1}" class="btn btn--sub">num</a>
          <a th:href="@{/menus/(page=${p})}" th:text="${p}"
             th:unless="${p==paging.number+1}" class="btn">num</a>
        </li>
        <!--            paging.number = 현재 페이지, start = 페이징에서 첫번째, last=페이징에서 마지막,-->
        <li th:style="${menus.last} ? 'display:none'">
          <a th:href="${menus.last} ? '#' : @{/menus/(page=${menus.number+2})}" class="btn">Next &#10095;</a>
        </li>
      </ul>
    </div>
  </main>
</body>

</html>