<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"/>
    <!-- Mumble UI -->
    <link rel="stylesheet" th:href="@{/uikit/styles/uikit.css}"/>
    <!-- Dev Search UI -->
    <link rel="stylesheet" th:href="@{/styles/app.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>메뉴 세부정보</title>
    <style>
      .field-error {
 border-color: #dc3545;
 color: #dc3545;

    </style>
</head>

<body>
<!-- Header Section -->
<div th:replace="main/nav :: header"></div>

<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProject__subtitle">포함되는 식재료</h3>
                <div class="singleProject__toolStack">
                    <textarea class="input input--textarea" disabled th:text="${menu.sources}">식재료</textarea>
                </div>
                <a class="singleProject__liveLink" th:href="@{/seller/{id}(id=${sellerId})}" target="_self"><i
                        class="im im-external-link"></i>가게로 이동</a>
            </div>
            <div class="column column--2of3">
                <img class="singleProject__preview" th:if="${menu.image}" th:src="|/image/${menu.image}|"/>
                <img class="singleProject__preview" th:unless="${menu.image}" th:src="@{/images/default_food.png}"/>
                <a th:href="@{/seller/{id}(id=${sellerId})}" class="singleProject__developer" th:text="${menu.seller}">가게
                    이름</a>
                <h2 class="singleProject__title" th:text="${menu.name}">메뉴이름</h2>
                <h3 class="singleProject__subtitle">메뉴 설명</h3>
                <div class="singleProject__info" th:text="${menu.desc}">설명</div>

                <div class="comments">
                    <h5 class="project--rating" th:if="${menu.commentNumber>0}" th:text="|전체 별점 : ${menu.star / menu.commentNumber}점|"></h5>

                    <h3 class="singleProject__subtitle">댓글</h3>
                    <form class="form" action="#" method="POST" th:object="${comment}" th:if="${comment.isStudent}">
                        <!-- Textarea -->
                        <div class="form__field">
                            <label for="formInput#textarea">댓글: </label>
                            <textarea class="input input--textarea" name="message" id="formInput#textarea"
                                      th:field="*{desc}"
                                      placeholder="댓글을 입력해주세요."></textarea>
                            <div th:class="field-error" th:if="${hasError}"}></div>
                        </div>

                        <input class="btn btn--sub btn--lg" type="submit" value="Comments"/>
                        <select th:field="*{star}">
                            <option value="">별점선택</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div th:class="field-error" th:field="*{star}" }></div>
                    </form>
                    <div th:class="field-error" th:unless="${comment.isStudent}" }>댓글은 회원만 입력 가능합니다.</div>

                    <div class="commentList">

                        <div class="comment" th:each="c : ${comments}">
                            <a href="profile.html">
                                <img class="avatar avatar--md" th:src="@{/images/user.png}" alt="user"/>
                            </a>
                            <div class="comment__details">
                                <a class="comment__author" th:text="${c.writer}">이름</a>
                                <p class="comment__info" th:text="${c.desc}"></p>
                                <p class="tag tag--pill tag--main settings__btn" th:text="|${c.star}점|"></p>
                                <a class="tag tag--pill tag--main settings__btn" href=""><i class="im im-edit"></i>Reply</a>
                                <a class="tag tag--pill tag--main settings__btn" th:if="${session.user != null && session.user.getId() == c.writerId}" th:onclick="|delComment('${c.id}','${menu.id}')|"><i class="im im-x-mark-circle-o"></i>DelAjax</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
<script th:inline="javascript">
    function delComment(cid,bid){
        if(!confirm("정말 삭제하시겠습니까?")){
            return;
        }
        let backUrl = "/menus/" + bid;
        let postUrl = "/menus/comment/" + cid;

        console.log(backUrl);
        console.log(postUrl);

        $.ajax({
            type : "post",
            url : postUrl,
            success: function(result){
                alert("댓글이 삭제되었습니다.");
                window.location.replace(backUrl);
            },
            error : function(error){
                alert("댓글 삭제에 실패했습니다. 잠시 후 다시 시도해주세요.");
            }
        });


    }
</script>
</html>